<!DOCTYPE html>
<html>
<head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /></head>
<body>
<h1>Due Today</h1>
<ul>
	<% @todos.each do |todo| %>
	<li><%= todo.label %></li>
	<% end %>
</ul>
<p><a href="http://www.knittingpixel.com/todo">www.knittingpixel.com/todo</a></p>
</body>
</html>
